.bg-white {
    background-color: white;
}

.beforeCreate {
    h2 {
        padding-top: 1em;
    }
    .col-sm-10 {
        padding: 0;
        margin: 0;
    }
    .col-sm-6 {
        padding: 20px 40px;
        &:first-child {
            border-right: 10px solid @bodyBackground;
            @media @sm, @xs {
                border: 0;
            }
        }

    }

}