// Top navi
#main-navigation {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-left:1px solid #ccc;

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            display: inline;
        }
    }

    a {
        display:inline-block;
        text-decoration: none;
        color: #111;
        font-size: 1.1em;
        padding:0.2em 0.9em 0.5em 0.9em;
        border-right:1px solid @borderGray;

        .transition(color, 0.2s, ease-in);
    }

    a:hover, .active a:hover {
        color: @headerLinkHover;
    }

    .active a {
        color: black;
        font-weight:bold;
        //border-bottom: 3px solid #cecece;
    }
}

// Exceptions for swedish page
.sv {
    &.font-size-large #main-navigation a {
        padding: 0.2em 0.5em 0.5em 0.5em;
    }
}

// Left navi
.navi {
    margin:0.3em 1em 0 0;
    padding:0;

    &.block-style {

        li {
            display:block;

            &.separator {

            }

            a {
                display:block;
                margin-bottom:1em;
            }
            .active {
                font-weight:bold;
            }
        }
    }
}

/* Mobile nav */
.navbar-default {
    .navbar-collapse {
        border: 0;
        position: absolute;
        width: 100%;
        top: 48px;
        border: 0;
        .modal-backdrop {
            top: 141px;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    .navbar-toggle {
        background-color: @mainColor;
        color: white;
        border: 0;
        border-radius: 0;
        .glyphicon-menu-hamburger::before {
            content: "\e014";
        }
        &:hover,
        &:focus {
            background-color: @mainColorLight;
            color: white;
        }
        &.collapsed {
            background-color: @mainColor;
            color: white;
            .glyphicon-menu-hamburger::before {
                content: "\e236";
            }
        }
    }
    .navbar-nav {
        color: white;
        padding-left: 20px;
        li.divider {
            border-bottom: 3px solid white;
            padding-top: 10px;
            margin-bottom: 10px;
            margin-left: -20px;
        }
        strong {
            font-size: 14px;
            margin-bottom: 10px;
            display: block;
        }
        overflow: visible;
        background-color: @mainColor;
        padding: 20px 0 20px 20px;
        li a {
            color: white;
            padding: 5px 0px;
            &:hover {
                color: @lightGray;
            }
            &.btn {
                width: auto;
                color: @black;
                font-weight: bold;
                border: 0;
                border-radius: 0;
                display: inline-block;
                padding: 5px 20px;
                &:hover {
                    background-color: white;
                    color: @mainColor;
                }
            }
        }
        li.active {
            a {
                text-decoration: underline;
                background-color: @mainColor;
                color: white;
                &:hover {
                    background-color: @mainColor;
                    color: white;
                }
            }
        }
    }
}